//- Footer Section
footer.footer-section
  .footer-content
    .footer-contact
      span
        | 4E7
        a(href='mailto:Support@equitrust.com') Support@equitrust.com
      span
        | 4DE
        a(href='tel:+16462321785') +16462321785
    .footer-logo EquiTrust
  .footer-links
    a(href='/') Home
    a(href='/about') About
    a(href='/contact') Contact
  .footer-copyright
    | Copyright 2025 equitrust. all rights reserved. 