//- Footer Section
footer.footer-section
  .footer-content
    .footer-contact
      span
        a(href='https://mail.google.com/mail/?view=cm&to=capixion@gmail.com', target='_blank') capixion@gmail.com
      span
        
        a(href='tel:+1 (516) 402-7466') +1 (516) 402-7466
    .footer-logo Capixion
  .footer-links
    a(href='/') Home
    a(href='/about') About
    a(href='/contact') Contact
  .footer-copyright
    | Copyright 2025 capixion. all rights reserved. 